main, h1{ 
  padding: 1em;
  color: orangered;
}

html{
  background-color: lightgray;
}

header li{

  list-style: none;
  box-shadow: none;
}

img{
  height: 10rem;
  width: auto;
  border-radius: 10%;
  box-shadow: 20px 10px 5px grey;
}

main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  list-style: none;
  box-shadow: 10px 5px 5px grey;
}

footer{
  border: thin solid black;
}
